/* @group FONTS
---------------------------------------------- */

/* Parisian */
@font-face {
  font-family: 'Parisian';
  src: url('../../fonts/parisian.eot');
  src: url('../../fonts/parisian.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/parisian.woff') format('woff'),
       url('../../fonts/parisian.ttf') format('truetype'),
       url('../../fonts/parisian.svg#parisian') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* @end FONTS */