/* @group FONTS
---------------------------------------------- */

/* Parisian */
@font-face {
  font-family: 'Parisian';
  src: url('../../fonts/parisian.eot');
  src: url('../../fonts/parisian.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/parisian.woff') format('woff'),
       url('../../fonts/parisian.ttf') format('truetype'),
       url('../../fonts/parisian.svg#parisian') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* @end FONTS */

/* @group FONT ICONS
 * Reference - http://www.zurb.com/playground/foundation-icons
---------------------------------------------- */

/* Foundation Icons Social */
@font-face {
    font-family: 'FoundationIconsSocial';
    src: url('../../fonts/foundation-icons-social.eot');
    src: url('../../fonts/foundation-icons-social.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/foundation-icons-social.woff') format('woff'),
         url('../../fonts/foundation-icons-social.ttf') format('truetype'),
         url('../../fonts/foundation-icons-social.svg#FoundationIconsSocial') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Foundation Icons General Enclosed */
@font-face {
    font-family: 'FoundationIconsGeneralEnclosed';
    src: url('../../fonts/foundation-icons-general-enclosed.eot');
    src: url('../../fonts/foundation-icons-general-enclosed.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/foundation-icons-general-enclosed.woff') format('woff'),
         url('../../fonts/foundation-icons-general-enclosed.ttf') format('truetype'),
         url('../../fonts/foundation-icons-general-enclosed.svg#FoundationIconsGeneralEnclosed') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Foundation Icons General */
@font-face {
  font-family: 'FoundationIconsGeneral';
  src: url('../../fonts/foundation-icons-general.eot');
  src: url('../../fonts/foundation-icons-general.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/foundation-icons-general.woff') format('woff'),
       url('../../fonts/foundation-icons-general.ttf') format('truetype'),
       url('../../fonts/foundation-icons-general.svg#FoundationIconsGeneral') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* @end FONT ICONS */

/* CSS to style glyphs */
.glyph,
.flex-direction-nav li a { cursor: default; font-size: 16px; line-height: 1; -webkit-font-smoothing: antialiased; font-smooth: always; }
.glyph.general { font-family: "FoundationIconsGeneral" }
.glyph.social { font-family: "FoundationIconsSocial"; }
.glyph.general-enclosed,
.flex-direction-nav li a { font-family: "FoundationIconsGeneralEnclosed"; }